.codeItem {
  background: #eef0f4 !important;
  border: 1px solid #e2e1dd;
  border-radius: 16px;
  max-width: 72px;
  max-height: 80px;
  height: 80px;
  width: calc((100% - (20.4px * 5)) / (5 + 1));
  color: #7a8699;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  line-height: 22px;
  caret-color: transparent;
}

.codeItem:focus {
  outline-color: #7a8699;
}

.codeForm {
  display: flex;
  gap: 20.4px;
}
