.dropDown {
  position: relative;
  z-index: 1000;
}

.menu {
  position: absolute;
  background-color: #f5f5f5;
  list-style-type: none;
  /* margin-top: 14px; */
  top: 68px;
  border: 1px solid #e2e1dd;
  border-radius: 8px;
  padding: 15px;
}

.menu::before {
  content: "";
  position: absolute;
  right: 40px;
  top: -21px;
  border: 8px solid transparent;
  border-bottom: 12.66px solid #e2e1dd;
}
.menu::after {
  content: "";
  position: absolute;
  right: 40px;
  top: -19px;
  border: 8px solid transparent;
  border-bottom: 12.66px solid #f5f5f5;
}

.triangel {
  /* position: absolute; */
  left: 20px;
  top: -18px;
  border: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
}

.choosenLang {
  display: flex;
  background-color: #eef0f4;
  cursor: pointer;
  gap: 12px;
  padding: 15px;
  border-radius: 8px;
}

.langItem {
  display: flex;
  cursor: pointer;
  gap: 12px;
}

.langItem:not(:last-child) {
  margin-bottom: 10px;
}

.langItem:hover {
  color: #d28e00;
}
