.operationStoreContainer {
    width: 100%;
    max-width: 455px;
    max-height: 450px;
    background-color: #FFFFFF;
    border: 1.51px solid #E2E1DD;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headerData {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 25px 0 25px;
}

.operationStoreHeader {
    color: #021E2F;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.tabViewOperStore {
    display: flex;
    flex-direction: row;
}

.tabViewBtn {
    padding: 11px 20px;
    border: none;
    background-color: transparent;
    border: 1px solid #E2E1DD;
    cursor: pointer;
}

.tabViewBtn.left {
    border-radius: 6px 0 0 6px;
}

.tabViewBtn.right {
    border-radius: 0 6px 6px 0;
}

.tabViewBtnText {
    font-size: 14px;
    line-height: 16.8px;
    color: #021E2F;
}

.tabViewBtn.active {
    background-color: #021E2F;
    border-color: #021E2F;
}

.tabViewBtnText.activeText {
    color: #FFFFFF ;
}

.operationsData {
    border-top: 1px solid #E2E1DD;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 40px 0;
}

.comment {
    color: #D4D4D4;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
}