.react-datepicker__month-container {
  float: left;
  padding: 16px;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0px;
  background-color: #f6ac12;
  color: #fff;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range:first-child,
.react-datepicker__day--in-range:first-child,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range:first-child,
.react-datepicker__quarter-text--selected:first-child,
.react-datepicker__quarter-text--in-selecting-range:first-child,
.react-datepicker__quarter-text--in-range:first-child,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 16px 0 0 16px;
}

/* Цвет следующей даты */
.react-datepicker__day--selected:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-selecting-range:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__month-text--in-range:not([aria-disabled="true"]):hover
/* .react-datepicker__quarter-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover */
/* .react-datepicker__quarter-text--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover, */
/* .react-datepicker__year-text--in-range:not([aria-disabled="true"]):hover  */ {
  border-radius: 0 16px 16px 0;
  background-color: #f6ac12;
}

.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__month-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__quarter-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__year-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background-color: #ffe2a5;
}

/* Расстояние между элементами */
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  /* margin: 0.166rem; */
}
